<div class="container pt-3">
    <div class="card">
        <div class="card-header">
            <h5>Proyectos <button class = "btn btn-primary">Nuevo</button></h5> 
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>
                            <b>Portofolio</b>
                        </td>      
                        <td>
                            <b>Angular y SpringBoot</b>
                        </td>   
                        <td>
                            <button class = "btn btn-secondary">Editar</button>
                            <button class = "btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


