<div class="row justify-content-center align-items-center shadow " style="background-color: rgb(226, 223, 223);" id="perfil">
    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="p-5">
            <img [src]="Persona[0].img" class="rounded-circle img-fluid" alt="perfil" style="width:270px; height:270px;">
        </div>
    </div> 
    <div class="col-sm-3 col-xxl-3 row">
        <div class="align-self-center" >
            <h1>{{Persona[0].nombre}} {{Persona[0].apellido}}</h1>
            <h5>{{Persona[0].titulo}}</h5>
            <p>{{Persona[0].info}}</p>
            <button class = "btn btn-success rounded-circle" data-bs-toggle="modal" data-bs-target="#Editar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 20">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>  </button>
        </div>
    </div>
</div> 
            
<!-- Modal -->
<div class="modal fade" id="Editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="Editar()" novalidate>
                    
                    <input type="hidden" formControlName="id" class="form-control" ngModel={{Persona[0].id}}>
                    
                    <div class="mb-3">
                        <label for="validationDefault00">Img:</label>
                        <input type="text" formControlName="img" class="form-control" id="validationDefault00" placeholder="URL"  
                        [ngClass]="{'is-valid': !this.form.get('img')?.invalid , 'is-invalid': this.form.get('img')?.invalid}" ngModel="{{Persona[0].img}}" required/>
                        <div *ngIf="this.form.get('img')?.errors?.['required'] && this.form.get('img')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>    
                    </div>     

                    <div class="mb-3">
                        <label for="validationDefault01">Nombre:</label>
                        <input type="text" formControlName="nombre" class="form-control" id="validationDefault01" placeholder="Nombre"  
                        [ngClass]="{'is-valid': !this.form.get('nombre')?.invalid , 'is-invalid': this.form.get('nombre')?.invalid}" ngModel={{Persona[0].nombre}} required>
                        <div *ngIf="this.form.get('nombre')?.errors?.['required'] && this.form.get('nombre')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>  
                    </div>
    
                    <div class="mb-3">
                        <label for="validationDefault02">Apellido:</label>
                        <input type="text" formControlName="apellido" class="form-control" id="validationDefault02" placeholder="Apelido" 
                         [ngClass]="{'is-valid': !this.form.get('apellido')?.invalid , 'is-invalid': this.form.get('apellido')?.invalid}" ngModel={{Persona[0].apellido}} required>
                        <div *ngIf="this.form.get('apellido')?.errors?.['required'] && this.form.get('apellido')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>  
                    </div>

                    <div class="mb-3">
                        <label for="validationDefault03">Titulo:</label>
                        <input type="text" formControlName="titulo" class="form-control" id="validationDefault03" placeholder="Titulo"  
                        [ngClass]="{'is-valid': !this.form.get('titulo')?.invalid , 'is-invalid': this.form.get('titulo')?.invalid}" ngModel="{{Persona[0].titulo}}" required>
                        <div *ngIf="this.form.get('titulo')?.errors?.['required'] && this.form.get('titulo')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>  
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Informacion profecional resumida sobre vos:</label>
                        <textarea class="form-control" formControlName="info" id="exampleFormControlTextarea1"  placeholder="info"  
                        [ngClass]="{'is-valid': !this.form.get('info')?.invalid , 'is-invalid': this.form.get('info')?.invalid}" ngModel="{{Persona[0].info}}" required></textarea>
                        <div *ngIf="this.form.get('info')?.errors?.['required'] && this.form.get('info')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>  
                    </div>

                    <div class="modal-footer">
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-warning" [disabled]="!this.form.valid"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 20">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg> Editar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


