<div class="container pt-5">
    <div class="card">
        <div class="card-header">
            <h5>Experiencias <button class = "btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 20">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg> Nuevo</button>
            </h5> 
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let expe of Experiencia">
                    <tr class="text-center">
                        <td>
                            <img [src]="expe.img" alt="logo_et32" style="width:41px; height:41px;">
                            <b>{{expe.nombre}}</b>
                        </td>
                        <td>
                            <p>{{expe.descripcion}}
                            <br>{{expe.periodo_inicio}} - {{expe.periodo_fin}}</p>
                        </td>
                        <td>
                            <button class = "btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#Editarexp"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 20">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg> Editar</button>
                            <button class = "btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 20">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg> Eliminar</button>
                        </td>
                    </tr>
                    <!-- Modal [disabled]="!this.form.valid" (click)="GetEdit(expe.id)"-->
                        <div class="modal fade" id="Editarexp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="formexp" (ngSubmit)="Editarexp()" novalidate>
                                            
                                            <input type="hidden" formControlName="id" class="form-control" ngModel={{expe.id}}>
                                            
                                            <div class="mb-3">
                                                <label for="validationDefault00">Img:</label>
                                                <input type="text" formControlName="img" class="form-control" id="validationDefault00" placeholder="URL"  
                                                [ngClass]="{'is-valid': !this.formexp.get('img')?.invalid , 'is-invalid': this.formexp.get('img')?.invalid}" ngModel="{{expe.img}}" required/>
                                                <div *ngIf="this.formexp.get('img')?.errors?.['required'] && this.formexp.get('img')?.touched" class="invalid-feedback">
                                                    Este campo es obligatorio!
                                                </div>    
                                            </div>     

                                            <div class="mb-3">
                                                <label for="validationDefault01">Nombre:</label>
                                                <input type="text" formControlName="nombre" class="form-control" id="validationDefault01" placeholder="Nombre"  
                                                [ngClass]="{'is-valid': !this.formexp.get('nombre')?.invalid , 'is-invalid': this.formexp.get('nombre')?.invalid}" ngModel={{expe.nombre}} required>
                                                <div *ngIf="this.formexp.get('nombre')?.errors?.['required'] && this.formexp.get('nombre')?.touched" class="invalid-feedback">
                                                    Este campo es obligatorio!
                                                </div>  
                                            </div>
                            
                                            <div class="mb-3">
                                                <label for="validationDefault02">Descripcion:</label>
                                                <input type="text" formControlName="descripcion" class="form-control" id="validationDefault02" placeholder="Descripcion" 
                                                [ngClass]="{'is-valid': !this.formexp.get('descripcion')?.invalid , 'is-invalid': this.formexp.get('descripcion')?.invalid}" ngModel={{expe.descripcion}} required>
                                                <div *ngIf="this.formexp.get('descripcion')?.errors?.['required'] && this.formexp.get('descripcion')?.touched" class="invalid-feedback">
                                                    Este campo es obligatorio!
                                                </div>  
                                            </div>

                                            <div class="mb-3">
                                                <label for="validationDefault03">Año de inicio:</label>
                                                <input type="number" formControlName="periodo_inicio" class="form-control" id="validationDefault03" placeholder="Periodo de Inicio"  
                                                [ngClass]="{'is-valid': !this.formexp.get('periodo_inicio')?.invalid , 'is-invalid': this.formexp.get('periodo_inicio')?.invalid}" ngModel="{{expe.periodo_inicio}}" required>
                                                <div *ngIf="this.formexp.get('periodo_inicio')?.errors?.['required'] && this.formexp.get('periodo_inicio')?.touched" class="invalid-feedback">
                                                    Este campo es obligatorio!
                                                </div>  
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Año de finalizacion:</label>
                                                <textarea class="form-control" formControlName="periodo_fin" id="exampleFormControlTextarea1"  placeholder="info"  
                                                [ngClass]="{'is-valid': !this.formexp.get('periodo_fin')?.invalid , 'is-invalid': this.formexp.get('periodo_fin')?.invalid}" ngModel="{{expe.periodo_fin}}" required></textarea>
                                                <div *ngIf="this.formexp.get('periodo_fin')?.errors?.['required'] && this.formexp.get('periodo_fin')?.touched" class="invalid-feedback">
                                                    Este campo es obligatorio!
                                                </div>  
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-warning" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 20">
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                </svg> Editar</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal [disabled]="!this.form.valid" 
<div class="modal fade" id="Editarexp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formexp" (ngSubmit)="Editarexp()" novalidate>
                    
                    <input type="hidden" formControlName="id" class="form-control" ngModel={{ExperienciaById.id}}>
                    
                    <div class="mb-3">
                        <label for="validationDefault00">Img:</label>
                        <input type="text" formControlName="img" class="form-control" id="validationDefault00" placeholder="URL"  
                        [ngClass]="{'is-valid': !this.formexp.get('img')?.invalid , 'is-invalid': this.formexp.get('img')?.invalid}" ngModel="{{ExperienciaById.img}}" required/>
                        <div *ngIf="this.formexp.get('img')?.errors?.['required'] && this.formexp.get('img')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>    
                    </div>     

                    <div class="mb-3">
                        <label for="validationDefault01">Nombre:</label>
                        <input type="text" formControlName="nombre" class="form-control" id="validationDefault01" placeholder="Nombre"  
                        [ngClass]="{'is-valid': !this.formexp.get('nombre')?.invalid , 'is-invalid': this.formexp.get('nombre')?.invalid}" ngModel={{ExperienciaById.nombre}} required>
                        <div *ngIf="this.formexp.get('nombre')?.errors?.['required'] && this.formexp.get('nombre')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>  
                    </div>
    
                    <div class="mb-3">
                        <label for="validationDefault02">Descripcion:</label>
                        <input type="text" formControlName="descripcion" class="form-control" id="validationDefault02" placeholder="Descripcion" 
                         [ngClass]="{'is-valid': !this.formexp.get('descripcion')?.invalid , 'is-invalid': this.formexp.get('descripcion')?.invalid}" ngModel={{ExperienciaById.descripcion}} required>
                        <div *ngIf="this.formexp.get('descripcion')?.errors?.['required'] && this.formexp.get('descripcion')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>  
                    </div>

                    <div class="mb-3">
                        <label for="validationDefault03">Año de inicio:</label>
                        <input type="number" formControlName="periodo_inicio" class="form-control" id="validationDefault03" placeholder="Periodo de Inicio"  
                        [ngClass]="{'is-valid': !this.formexp.get('periodo_inicio')?.invalid , 'is-invalid': this.formexp.get('periodo_inicio')?.invalid}" ngModel="{{ExperienciaById.periodo_inicio}}" required>
                        <div *ngIf="this.formexp.get('periodo_inicio')?.errors?.['required'] && this.formexp.get('periodo_inicio')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>  
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Año de finalizacion:</label>
                        <textarea class="form-control" formControlName="periodo_fin" id="exampleFormControlTextarea1"  placeholder="info"  
                        [ngClass]="{'is-valid': !this.formexp.get('periodo_fin')?.invalid , 'is-invalid': this.formexp.get('periodo_fin')?.invalid}" ngModel="{{ExperienciaById.periodo_fin}}" required></textarea>
                        <div *ngIf="this.formexp.get('periodo_fin')?.errors?.['required'] && this.formexp.get('periodo_fin')?.touched" class="invalid-feedback">
                            Este campo es obligatorio!
                        </div>  
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 20">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg> Editar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->




   

